.prompt {
    font-weight: bold;
}

.name {
    font-size: 60px;
    padding-bottom: 5%;
    padding-top: 10%;
}

.profilebio{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.profile-pic img {
    border-radius: 60%;
}

.container {
    padding: 5%;
}

.about-me {
    padding-top: 5%;
}


