.group-container {
  border: 4px solid rgba(8, 106, 4, 1);
  height: 12rem;
  width: 80%;
  margin: 0 auto;
  border-radius: 12px;
}

.group-container h3 {
  font-size: 1.4rem;
}

.group-details  {
  display: flex;
  justify-content: space-around;
}

.group-details h6 {
  margin: 0;
  font-size: 1rem;
}

.group-join-button {
  all: unset;
  background-color: rgba(8, 106, 4, 1);
  width: 8rem;
  height: 2rem;
  margin: 1rem auto 0 auto;
  border-radius: 30px;
  font-weight: bold;
  color: white;
}
