nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
    /* margin: 20px; */
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #B3E5A3;
    padding: 20px 0;
    margin-bottom: 0;
}

.nav-link {
    background-color: white;    
    /* width: 30px;
    height: 30px; */
    padding: 11px 15px;
    border-radius: 50%;
}
