a {
  text-decoration: none;
  color: inherit;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
    position: fixed;
    bottom: 0;
    width: 96vw;
    background-color: rgba(138, 190, 82, 0.5);
    padding: 20px 0;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;

    border-radius: 54px;
}

.nav-link {
    background-color: white;
    padding: 11px 15px;
    border-radius: 50%;
}

/* 8, 106, 46 */
